name: On Pull Request

concurrency:
  group: "${{ github.workflow }}-${{ github.head_ref || github.ref }}"
  cancel-in-progress: true

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      image_name: ${{ steps.build.outputs.image_name }}
    steps:
      - uses: actions/checkout@v2

      - uses: ./.github/actions/build
        name: Build image
        id: build

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: ./.github/actions/test
        name: Run tests

  deploy_dev:
    runs-on: ubuntu-latest
    environment: preview
    needs: build
    container:
      image: qwolphin/kdsl:1.21.8
    strategy:
      fail-fast: false
      matrix:
        CHAIN_ID: ["1", "137", "43114"]
    steps:
      - uses: actions/checkout@v2

      - name: Set k8s namespace
        shell: bash
        run: echo "NAMESPACE=cache-${NS_SUFFIX,,}" | tr -c '[:alnum:]-=\n' '-' >>${GITHUB_ENV}
        env:
          NS_SUFFIX: "${{ github.head_ref }}-${{ matrix.CHAIN_ID }}"

      - name: Render kdsl resources into yaml
        env:
          IMAGE: "${{ needs.build.outputs.image_name }}"
          RECIPE: "base+chain${{ matrix.CHAIN_ID }}"
          DOMAIN: "${{ env.NAMESPACE }}.aaw.fi"
          CHAIN_ID: ${{ matrix.CHAIN_ID }}
          POLYGON_RPC: "${{ secrets.POLYGON_RPC }}"
          MAINNET_RPC: "${{ secrets.MAINNET_RPC }}"
        run: |
          cd k8s/
          python3 main.py > ../rendered.yml

      - name: Set up kubeconfig
        run: |
          mkdir -p ~/.kube
          echo "${{ secrets.DEV_KUBECONFIG }}" > ~/.kube/config
          kubectl config set-context --current --namespace="${{ env.NAMESPACE }}"

      - name: Apply k8s resources
        shell: bash
        run: |
          kubectl apply -f rendered.yml
          kubectl wait --for condition=ready --timeout 20s pods --all || \
          { kubectl get pods && exit 1; }

      - uses: actions/github-script@v5
        if: ${{ github.event.action == 'opened' || github.event.action == 'reopened' }}
        with:
          script: |
            github.rest.issues.createComment({
              issue_number: context.payload.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: 'Preview link for chain ${{ matrix.CHAIN_ID }}: https://${{ env.NAMESPACE }}.aaw.fi/'
            })
